
body {
  background: #1b2838;
}

.game-content-wrapper {
  width: 940px;
  margin: auto;
  width: 50%;
  position: relative;
  display: block;
}

.content-spacer {
  height: 15px;
  display: block;
}

.left-col {
  width: 616px;
  float: left;
  margin-top: 16px;
  display: block;
}

.left-column-spacer {
  height: 15px;
}

.column-wrapper {
  /* margin-bottom: 100px; */
  /* position: relative;
  display: block; */
  height: 15px;
}

.right-col {
  width: 308px;
  float: right;
  margin-left: 14px;
  margin-bottom: 25px;
  display: block;
}


.review-content-wrapper {
  width: 940px;
  margin-top: 25px;
  width: 50%;
  display: inline-block;
  border-top: 1px solid #000;
  margin: bottom;
}
